nav {
  display: flex;
  align-items: baseline;
  user-select: none;
  font-family: Arial;
  padding: 16px;
  background-color: darkblue;
  color: white;
  > {
    p {
      font-size: 20px;
      padding: 8px;
    }
    a {
      text-decoration: none;
      cursor: pointer;
      color: white;
      padding: 4px;
    }
    a:hover {
      color: orange;
    }
    a.active {
      color: darkorange;
    }
    span {
      flex-grow: 1;
    }
  }
}

activeRoute {
  color: darkorange;
}
